emailerfromaddress=tfllivebusmap@gmail.com
emailerpassword=Audacity2005
emailertoaddress=chrischivers@gmail.com
tfldatasourceurl=http://countdown.api.tfl.gov.uk:80/interfaces/ura/stream_V1?ReturnList=StopCode1,LineName,DirectionID,RegistrationNumber,EstimatedTime
tfldatasourceusername=LiveBus78505
tfldatasourcepassword=f4trupHuT3
